<p id="notice"><%= notice %></p>

<%= render 'projects' %>

<div ng-controller='ProjectsCtrl'>
  <form ng-submit="addProject()">
    <input type='text' ng-model='newProject.name'>
    <input type="submit" value="Add">
  </form>

  <ul class="projects thumbnails">
    <li class="span4" ng-repeat="project in projects">
      <div class="thumbnail">
        <h3>{{project.title}}</h3>
        <p>issues count: {{project.issues.count}}</p>
      </div>
      <button ng-click="addIssue(project)">Add Issue</button>
    </li>
  </ul>


</div>


