<p id="notice"><%= notice %></p>

<div ng-controller='ProjectsCtrl'>
  <form ng-submit="addProject()">
    <input type='text' ng-model='newProject.name'>
    <input type="submit" value="Add">
  </form>

  <ul>
    <li ng-repeat="project in projects">
      {{project.name}}
      {{project.issues.count}}
      <button ng-click="addIssue(project)">Add Issue</button>
    </li>
  </ul>


</div>
